.game {
  max-width: 500px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

.table {
  max-height: 500px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 30px;
  gap: 10px;
}

.table-item {
  width: calc(100% / 3 - 7px);
  height: calc(100% / 3 - 7px);
  cursor: pointer;
  font-size: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #426469;
  position: relative;
}

.winned::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) ;
  content: "";
  width: 100%;
  height: 3px;
  background-color: whitesmoke;
}

.notification {
  margin-bottom: 30px;
  color: #426469;
  font-size: 45px;
}

.reset {
  cursor: pointer;
  width: 100%;
  padding: 18px 30px;
  border: none;
  outline: none;
  margin-top: 50px;
  font-size: 20px;
  background-color: #426469;
  color: white;
  border-radius: 20px;
}